
    /* Estilos para la barra */
    .barra {
      background-color: rgb(255, 0, 21);
      text-align: center;
      padding: 1px; /* Espaciado interno para el contenido */
      color: white; /* Color del texto */
    }
  
       
    
    .contenedor {
        display: flex;
        align-items: center;
    }

    .texto {
        text-align: left;

    }

    .imagen {
        margin-left: 20px; /* Espacio entre el texto y la imagen */
             width: 600px;
    }
    .formatoPagina{
        
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border: 1px solid #999;
            padding: 10px;
        
    }

    .recuadro {
        width: 1000px; /* Ancho del recuadro */
        padding: 20px; /* Espacio interno del recuadro */
        border: 2px solid #f1ebeb; /* Borde del recuadro */
        background-color: #faf8f8; /* Color de fondo del recuadro */
        text-align: center; /* Alineación del contenido en el centro */
        margin: 20px auto; /* Centrar el recuadro horizontalmente en la página */
       
    }
    .FOOTER{
        background-color: rgb(255, 0, 21);
        text-align: center;
        padding: 20px; /* Espaciado interno para el contenido */
        color: white; /* Color del texto */
        
    }
    
    
    .container{
        display: flex;
            justify-content: center;
            align-items: center;
            height: 50px; /* Esto centra verticalmente en la página */
            
        } 
       .btn{
        text-align: center;
    background-color: red; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Eliminar el borde */
    padding: 5px 10px; /* Espaciado interior */
    font-size: 20px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
       } 
           



    